<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <title>상품</title>
  <style>
    .btn {
      width: 200px;
      margin-bottom: 20px;
    }
    .product-img {
      margin-right: 70px;
      float: left;
      width: 175px;
      height: 175px;
    }
    .products-div {
      margin-bottom: 50px;
    }
    .product-icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
    .product-trade-status {
      background-color: black;
      color: white;
    }
  </style>
</head>
<body>
  <div class="container" th:value="${memberId}">
    <div class="row" style="margin-bottom: 20px;">
      <div align="center" class="col"><a th:href="@{/products/member/{memberId}(memberId=${memberId},status='ALL')}">전체상품</a></div>
      <div align="center" class="col"><a th:href="@{/products/member/{memberId}(memberId=${memberId},status='SALE')}">판매중</a></div>
      <div align="center" class="col"><a th:href="@{/products/member/{memberId}(memberId=${memberId},status='SOLD_OUT')}">판매완료</a></div>
    </div>
    <hr/>
    <div class="products-div" th:each="product : ${products}">
      <a th:href="@{/products/{productId}(productId=${product.productId})}">
        <img class="product-img" th:src="${product.thumbnailImageUrl}" />
        <div class="product-info-div">
          <p th:text="${product.productName}">상품명</p>
          <p>장소</p>
          <span class="product-trade-status" th:if="${product.productTradeStatus == 'HOLD'}">예약중</span>
          <span class="product-trade-status" th:if="${product.productTradeStatus == 'SOLD_OUT'}">판매완료</span>
          <span th:text="${product.price}">가격</span>
          <p th:text="${product.likeCount}"><img class="product-icon" src="https://oopy.lazyrockets.com/api/v2/member/image?src=https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F94fd7095-087d-4a62-ace8-720d1f6632b3%2Fheart.png&blockId=fa7d6c36-c889-464d-b0d2-0daac59c99cf&t=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJob3N0bmFtZSI6Ind3dy5udW1ibGUuaXQiLCJyb2xlIjoiYXBpIiwiaWF0IjoxNjQyNDcyMDI5LCJleHAiOjE2NDI0ODI4Mjl9.a6jZGW6I5WX_AvAPYN_K9twZsn1cx7iWQj2lGTsJJWI">좋아요 수</p>
          <p th:text="${product.commentCount}"><img class="product-icon" src="https://oopy.lazyrockets.com/api/v2/member/image?src=https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F4068ae08-1762-4492-9b67-30f9f913a866%2Fconversation.png&blockId=8f072fab-30ea-425b-890c-f7d107fceee8&t=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJob3N0bmFtZSI6Ind3dy5udW1ibGUuaXQiLCJyb2xlIjoiYXBpIiwiaWF0IjoxNjQyNDcyMDI5LCJleHAiOjE2NDI0ODI4Mjl9.a6jZGW6I5WX_AvAPYN_K9twZsn1cx7iWQj2lGTsJJWI"/>댓글 수</p>
        </div>
      </a>
    </div>
    <div class="start-button-div" align="center" th:if="${products.hasNext()}">
      <a class="btn btn-lg" style="background-color: orange; color: white" th:href="@{/products}">뒤로가기</a>
    </div>
  </div>
</body>
</html>