<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>상품 상세</title>
    <style>
        .product-images {
            margin-bottom: 75px;
        }
        .product-image {
            width: 150px;
            height: 150px;
        }
        .seller-profile-image {
            width: 30px;
            height: 30px;
        }
        .members-nickname {
            margin-right: 50px;
        }
    </style>
</head>
<body>
    <div class="container" th:object="${product}">
        <div class="product-images" th:each="url : ${product.imageUrls}">
            <img class="product-image" th:src="${url}" />
        </div>
        <div class="product-info">
            <input type="hidden" id="memberId" th:value="${product.memberId}"/>
            <input type="hidden" id="productId" th:value="${product.productId}"/>
            <img class="seller-profile-image" th:if="${#strings.isEmpty(product.memberProfileUrl)}" src="../img/defaultProfile.png"/>
            <img class="seller-profile-image" th:unless="${#strings.isEmpty(product.memberProfileUrl)}" th:src="${product.memberProfileUrl}"/>
            <span th:text="${product.memberNickname}">닉네임</span>
            <hr/>
            <p th:text="${product.productName}">제목</p>
            <p th:text="${product.price}">가격</p>
            <p th:text="${product.category}">카테고리</p>
            <p th:text="${product.createdDate}">게시 시간</p>
            <p th:text="${product.contents}">본문</p>
            <hr/>
        </div>
        <div class="sellers-products">
            <span class="members-nickname" th:text="|${product.memberNickname} 님의 판매 상품|">닉네임님의 판매상품</span>
            <a href="/products" th:href="@{/products/member/{memberId}(memberId=${product.memberId})}">모두 보기</a>
            <div th:each="salesProduct : ${product.memberSaleProducts}">
                <a th:href="@{/products/{productId}(productId=${product.productId})}">
                    <img class="product-image" src="../img/docs.png" th:src="${salesProduct.thumbnailUrl}"/>
                    <p th:text="${salesProduct.productName}">제목</p>
                    <p th:text="${salesProduct.price}">가격</p>
                </a>
            </div>
        </div>
        <div align="center" style="margin-bottom: 30px;">
            <a class="btn btn-lg" style="background-color: orange; color: white" th:href="@{/comments(productId=${product.productId})}">댓글 보기</a>
            <a class="btn btn-lg" style="background-color: orange; color: white" th:href="@{/comments/add(productId=${product.productId})}">댓글 남기기</a>
            <a class="btn btn-lg" style="background-color: orange; color: white" th:href="@{/products}">뒤로가기</a>
        </div>
        <div align="center" th:if="${#authentication.principal.memberId == product.memberId}">
            <a class="btn btn-lg" style="background-color: orange; color: white" th:href="@{/products/{productId}/edit(productId=${product.productId})}">수정</a>
            <a class="btn btn-lg" style="background-color: orange; color: white" th:href="|javascript:remove(${product.productId})|">삭제</a>
        </div>
    </div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    function remove(productId) {
        if (confirm("해당 상품을 삭제하시겠습니까?")) {
            var form = document.createElement("form");
            form.setAttribute("action", "/products/" + productId + "/delete");
            form.setAttribute("method", "post");

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "_csrf");
            hiddenField.setAttribute("value", [[${_csrf.token}]]);
            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
        }
    }
    /*]]>*/
</script>
</html>
