<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <title>상품</title>
  <style>
    .btn {
      width: 200px;
      margin-bottom: 20px;
    }
    .product-img {
      margin-right: 70px;
      float: left;
      width: 175px;
      height: 175px;
    }
    .products-div {
      margin-bottom: 50px;
    }
    .product-icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
    .product-trade-status {
      background-color: black;
      color: white;
    }
  </style>
</head>
<body>
  <div class="container">
    <div th:replace="fragments/productsFragment :: products-list-fragment(${products})">
    </div>
    <div class="start-button-div" align="center" th:if="${products.hasNext()}">
      <a class="btn btn-lg" style="background-color: orange; color: white" th:href="@{/products}">더보기</a>
    </div>
    <div class="start-button-div" align="center">
      <a class="btn btn-lg" style="background-color: orange; color: white" th:href="@{/products/add}">상품 등록</a>
    </div>
    <div class="start-button-div" align="center">
      <a class="btn btn-lg" style="background-color: orange; color: white" th:href="@{/members/me}">마이페이지</a>
    </div>
  </div>
</body>
</html>