files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/challenge-0.0.1-SNAPSHOT.jar

            # run app
            killall java
            java -Dfile.encoding=UTF-8 -DSpring.profiles.active=dev -jar $JAR_PATH
