<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>로그인</title>
    <style>
        .form-group {
            margin-top: 30px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
    <div class="container">
        <form th:action="@{/members/login}" th:object="${loginRequest}" method="post">
            <div class="form-group">
                <p style="font-size: 20px;">로그인</p>
            </div>
            <div class="field-error" th:if="${param.error}">아이디와 비밀번호를 확인해주세요.</div>
            <div class="form-group">
                <label th:for="email">이메일(ID)</label>
                <input type="text" class="form-control" id="email" th:field="*{email}" />
            </div>
            <div class="form-group">
                <label th:for="password">비밀번호(PW)</label>
                <input type="password" class="form-control" id="password" th:field="*{password}" />
            </div>
            <div class="form-group">
                <button class="w-100 btn btn-primary btn-lg" style="background-color: orange" type="submit">로그인</button>
            </div>
        </form>
    </div>
</body>
</html>