<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .main-top-div {
      padding-top: 150px;
    }
    .main-comment-div {
      padding-bottom: 125px;
    }
  </style>
</head>
<body>
  <div class="main-top-div" align="center">
    <img class="main-logo" width="250" height="250" src="https://oopy.lazyrockets.com/api/v2/member/image?src=https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fa1244cac-6e0f-4f89-8028-fb920433d066%2Fcarrot.png&blockId=57b0556c-a1f9-4b11-83b7-75bf593fa482&t=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJob3N0bmFtZSI6Ind3dy5udW1ibGUuaXQiLCJyb2xlIjoiYXBpIiwiaWF0IjoxNjQxODA5ODIxLCJleHAiOjE2NDE4MjA2MjF9.P65oZVkElFSSAeJ19VtC_KidPJXjPtoPPtkc-dbdMcM"/>
  </div>
  <div class="main-comment-div" align="center">
    <span style="font-size:1.5em;">존재하지 않는 경로입니다.</span>
  </div>
</body>
</html>