<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <title>상품</title>
  <style>
    .btn {
      width: 200px;
      margin-bottom: 20px;
    }
    .product-img {
      margin-right: 70px;
      float: left;
      width: 175px;
      height: 175px;
    }
    .products-div {
      margin-bottom: 50px;
    }
    .comments-div {
      margin-bottom: 50px;
    }
    .member-profile-img {
      width: 100px;
      height: 100px;
    }
    textarea {
      width: 500px;
      height: 55px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="products-div" th:object="${comments}">
        <img class="product-img" th:src="${comments.thumbnailImageUrl}" />
        <div class="product-info-div">
          <p th:text="${comments.productName}">상품명</p>
          <p>장소</p>
          <p th:text="${comments.price}">가격</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="comments-div" th:each="comment : ${comments.comments}">
        <div class="row">
          <div class="col-xs-3">
            <img class="member-profile-img" th:src="${comment.memberProfileUrl}"/>
            <span th:text="${comment.memberNickname}">닉네임</span>
            <span th:text="${comment.createdDate}">시간</span>
            <span th:if="${#authentication.principal.memberId == comment.memberId}">
              <a th:href="@{/comments/{commentId}/edit(commentId=${comment.commentId})}">수정</a>
              <a href="#" th:href="|javascript:remove(${comment.commentId}, ${comments.productId})|">삭제</a>
            </span>
            <div>
              <textarea th:text="${comment.contents}" disabled>댓글 내용</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="start-button-div" align="center">
      <a class="btn btn-lg" style="background-color: orange; color: white" th:href="@{/comments/add(productId=${comments.productId})}">댓글 남기기</a>
    </div>
    <div class="start-button-div" align="center">
      <a class="btn btn-lg" style="background-color: orange; color: white" href="javascript:window.history.back()">뒤로가기</a>
    </div>
  </div>
</body>
<!--TODO /comments/{commendId}/delete 로 구조 변경하기-->
<script th:inline="javascript">
  /*<![CDATA[*/
  function remove(commentId, productId) {
    if (confirm("해당 댓글을 삭제하시겠습니까?")) {
      var form = document.createElement("form");
      form.setAttribute("action", "/comments/delete");
      form.setAttribute("method", "post");

      var hiddenField = document.createElement("input");
      hiddenField.setAttribute("type", "hidden");
      hiddenField.setAttribute("name", "productId");
      hiddenField.setAttribute("value", productId);
      form.appendChild(hiddenField);
      hiddenField = document.createElement("input");
      hiddenField.setAttribute("type", "hidden");
      hiddenField.setAttribute("name", "commentId");
      hiddenField.setAttribute("value", commentId);
      form.appendChild(hiddenField);
      hiddenField = document.createElement("input");
      hiddenField.setAttribute("type", "hidden");
      hiddenField.setAttribute("name", "_csrf");
      hiddenField.setAttribute("value", [[${_csrf.token}]]);
      form.appendChild(hiddenField);
      document.body.appendChild(form);
      form.submit();
    }
  }
  /*]]>*/
</script>
</html>